<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131281061651-n5e3gu62hqbb8bu1q1qifq67jbfaluen.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131281061651-n5e3gu62hqbb8bu1q1qifq67jbfaluen</string>
	<key>API_KEY</key>
	<string>AIzaSyDCDfCklA0Lysz9uMknGU_dZo0lnts6duQ</string>
	<key>GCM_SENDER_ID</key>
	<string>131281061651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thesuitch.uaw</string>
	<key>PROJECT_ID</key>
	<string>uawdev</string>
	<key>STORAGE_BUCKET</key>
	<string>uawdev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131281061651:ios:0c3e02d1cc83e216877ce6</string>
</dict>
</plist>